.App {
  display: block;
  margin-top: 5rem;
  text-align: center;
}

.question-text {
  font-size: 1.5rem;
}

.button {
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
  color: white;
  font-size: 1rem;
  background-color: #7c7cd8;
}

.EndScreen h1 {
  color: green;
}